@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}
@section Scripts {
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Về trang chủ" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Thanh toán</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>Thanh toán</h2>
                </div>
                <div class="page-content checkout-page">
                    @if (ViewData["Success"] != null)
                    {
                        if ((bool)ViewData["Success"] == true)
                        {
                            <div class="alert alert-success">
                                Cảm ơn đơn hàng của bạn, chúng tôi sẽ sớm liên hệ.
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-danger">
                                Có lỗi xảy ra trong quá trình đặt hàng, liên hệ quản trị để xử lý.
                            </div>

                        }


                    }
                    else
                    {

                        <form action="/checkout.html" method="post">
                            @Html.AntiForgeryToken()
                            <h4 class="checkout-sep">1. Phương thức thanh toán</h4>
                            <div class="box-border">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>Thanh toán với tư cách là khách hàng hoặc Đăng ký</h5>
                                        <p> Đăng ký với chúng tôi để thuận tiện trong tương lai:</p>
                                        <br>
                                        <h4>Đăng ký và tiết kiệm thời gian!</h4>
                                        <p>Đăng ký với chúng tôi để thuận tiện trong tương lai:</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Fast and easy check out</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Easy access to your order history and status</p>
                                        <button class="button" onclick="window.location.href='/register.html'"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>Đăng nhập</h5>
                                        <p>Đã đăng ký? Vui lòng đăng nhập bên dưới:</p>
                                        <button class="button" onclick="window.location.href='/login.html'"><i class="icon-login"></i>&nbsp; <span>Đăng nhập</span></button>
                                    </div>
                                </div>
                            </div>

                            <h4 class="checkout-sep">2.Thông tin vận chuyển</h4>
                            <div class="box-border">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <label class="required">Tên đầy đủ</label>
                                            <input class="input form-control" type="text" asp-for="CustomerName">
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-6">
                                            <label class="required">Số điện thoại</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMobile">
                                        </div>
                                    </li>
                                    <!--/ .row -->
                                    <!--/ .row -->

                                    <li class="row">
                                        <div class="col-xs-12">
                                            <label class="required">Địa chỉ</label>
                                            <input class="input form-control" type="text" asp-for="CustomerAddress">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                    <li class="row">
                                        <div class="col-sm-12">
                                            <label class="required">Tin nhắn cho quản trị</label>
                                            <input class="input form-control" type="text" asp-for="CustomerMessage">
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <!--/ .row -->


                                </ul>
                            </div>
                            <h4 class="checkout-sep">3. Thông tin thanh toán</h4>
                            <div class="box-border">
                                <ul>
                                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                    {
                                        <li>
                                            <label asp-for="@Model.PaymentMethods[i].Value">
                                                <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value">
                                                @Model.PaymentMethods[i].Name
                                            </label>
                                        </li>
                                    }
                                </ul>
                                <button class="button"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Tiếp tục</span></button>
                            </div>
                            <h4 class="checkout-sep last">4. Xem lại đơn hàng</h4>
                            <div class="box-border">
                                <div class="table-responsive">
                                    <table class="table table-bordered cart_summary">
                                        <thead>
                                            <tr>
                                                <th class="cart_product">Sản phẩm</th>
                                                <th>Mô tả</th>
                                                <th>Đơn giá</th>
                                                <th>Số lượng</th>
                                                <th>Tổng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Carts)
                                            {
                                                <tr>
                                                    <td class="cart_product"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" alt="@item.Product.Name"></a></td>
                                                    <td class="cart_description">
                                                        <p class="product-name"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                                        <small><a href="#">Color : @item.Color.Name</a></small><br>
                                                        <small><a href="#">Size : @item.Size.Name</a></small>
                                                    </td>
                                                    <td class="price"><span>@item.Price.ToString("N0") </span></td>
                                                    <td class="qty">@item.Quantity</td>
                                                    <td class="price"><span>@((item.Price * item.Quantity).ToString("N0")) </span></td>
                                                </tr>

                                            }


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3"><strong>Tổng tiền</strong></td>
                                                <td colspan="2"><strong>@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0") </strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <recaptcha /><span class="text-danger" id="recaptchaErrorMessage"></span>
                                <button type="button" class="button" onclick="window.location.href='/cart.html'"><span>Back to cart</span></button>

                                <button type="submit" class="button pull-right"><span>Đặt hàng</span></button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
