@model TeduCoreApp.Models.BlogViewModels.BlogDetailViewModel
@{
    ViewData["Title"] = "Details";
    var blog = Model.Blog;
    var u = Model.Blog.SeoAlias + "-b." + Model.Blog.Id + ".html";
}
<!-- Main Container -->
<section class="blog_post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
               
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-photo">
                        <figure><img src="@blog.Image" alt="Blog"></figure>
                    </div>
                    <div class="entry-meta-data">
                        <div class="blog-top-desc">
                            <div class="blog-date"> @blog.DateCreated </div>
                            <h1><a href="#">@blog.Name</a></h1>
                            <div class="jtv-entry-meta"> <i class="fa fa-user-o"> </i> <strong>Admin</strong> </div>
                        </div>
                    </div>
                    <div class="content-text clearfix">
                      @Html.Raw(blog.Content)
                    </div>
                   
                </div>
                <!-- Related Posts -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Bài viết liên quan</h2>
                    </div>  
                  
                        <div class="slider-items-products">
                            <div id="related-posts" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 fadeInUp">
                                    @foreach (var item in Model.GetReatedBlogs)
                                    {
                                        var url = "/" + @item.SeoAlias + "-b." + @item.Id + ".html";
                                        <div class="product-item">
                                            <article class="entry">
                                                <div class="entry-thumb image-hover2"> <a href="@url"> <img src="@item.Image" alt="Blog"> </a> </div>
                                                <div class="entry-info">
                                                    <h3 class="entry-title"><a href="@url">@item.Name</a></h3>
                                                    <div class="entry-meta-data"> <span class="comment-count"> <i class="pe-7s-comment">&nbsp;</i> 1 </span> <span class="date"> <i class="pe-7s-date">&nbsp;</i> @item.DateCreated </span> </div>
                                                    <div class="entry-more"> <a href="@url">Đọc thêm</a> </div>
                                                </div>
                                            </article>
                                        </div>
                                     }
                                 </div>
                            </div>
                      </div>
                </div>
                <!-- ./Related Posts -->
                <!-- Comment -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Bình luận</h2>
                    </div>
                    <div class="comment-list">
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>
                        <div id="comment_fb">
                            <div class="fb-comments" data-href="@u" data-numposts="7" data-width=""></div>
                        </div>
                    </div>
                </div>
                <!-- ./Comment -->
            </div>
            <div class="col-sm-3">
                <div class="fb-page py-3" data-href="https://www.facebook.com/kguconfession" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kguconfession" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kguconfession">Facebook</a></blockquote></div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
