@model TeduCoreApp.Models.BlogViewModels.BlogDetailViewModel
@{
    ViewData["Title"] = "Details";
    var blog = Model.Blog;
}
<!-- Main Container -->
<section class="blog_post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
               
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-photo">
                        <figure><img src="@blog.Image" alt="Blog"></figure>
                    </div>
                    <div class="entry-meta-data">

                        <div class="blog-top-desc">
                            <div class="blog-date"> @blog.DateCreated </div>
                            <h1><a href="blog_single_post.html">@blog.Name</a></h1>
                            <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong></strong></a> <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span></span></div></div>
                        </div>

                    </div>
                    <div class="content-text clearfix">
                      @Html.Raw(blog.Content)
                    </div>
                   
                </div>
                <!-- Related Posts -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Bài viết liên quan</h2>
                    </div>
                    <div class="slider-items-products">
                        @foreach(var item in Model.GetReatedBlogs)
                        {
                            var url = "/" + @item.SeoAlias + "-b." + @item.Id + ".html";
                        <div id="related-posts" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 fadeInUp">
                                <div class="product-item">
                                    <article class="entry">
                                        <div class="entry-thumb image-hover2"> <a href="@url"> <img src="@item.Image" alt="Blog"> </a> </div>
                                        <div class="entry-info">
                                            <h3 class="entry-title"><a href="@url">@item.Name</a></h3>
                                            <div class="entry-meta-data"> <span class="comment-count"> <i class="pe-7s-comment">&nbsp;</i> 1 </span> <span class="date"> <i class="pe-7s-date">&nbsp;</i> @item.DateCreated </span> </div>
                                            <div class="entry-more"> <a href="@url">Đọc thêm</a> </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <!-- ./Related Posts -->
                <!-- Comment -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Bình luận</h2>
                    </div>
                    <div class="comment-list">
                        <ul>
                            <a>Đây là cmt</a>
                        </ul>
                    </div>
                </div>
                <!-- ./Comment -->
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
